@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.calc-font {
    font-family: "DotGothic16", monospace;
    font-weight: bolder;
    font-style: normal;
}

.calc-wrapper {
    display: grid;
    grid-template:
        'd d d d'
        'a a p p'
        'b b b b'
        'b b b b'
        'b b b b'
        'b b b b';
    text-align: center;
    width: 361px;
    font-size: 24px;
    border: 2px solid black;
    margin: auto;
}

.calc-item, .calc-button {
    padding: 25px 25px;
    border: 2px solid black;
}

.calc-button:hover {
    background-color: black;
    color: white;
}

#disp {
    grid-area: d;
    text-align: right;
}

#ac {
    grid-area: a;
}

#ac:hover {
    background-color: crimson;
    color: white;
}

#e:hover {
    background-color: green;
    color: white;
}